html{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Coming Soon', cursive;
}

nav{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
}

.navigation{
    text-align: center;
}

.navigation li{
    display: inline-block;
    margin: 0 15px;
    color: #20c4bb;
}

.navigation li a{
    color: #49297e;
    text-decoration: none;
}

.left-col{
    background-color:  	#e10086;
    color: white;
    text-align: center;
}

.right-col{
    background-color:  	#fdfb76;
    color: #e10086;
}

.left-col, .right-col{
    text-align: center;
    font-size: 18px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container{
    width: 500px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Permanent Marker', cursive;
}

h1{
    font-size: 150px;
    font-weight: normal;
    margin: 0;
}

h2{
    font-size: 100px;
}

.work h2 {
    color: #49297e;
}

.myteam h2 {
    color: #e10086;
}

.contact h2 {
    color: #90dcff;
}

h3{
    font-size: 40px
}

.work h3 {
    color: #00db96;
}

.myteam h3 {
    color: #49297e;
    margin: 0 0 70px 0;
    line-height: 100%;
    width: 100%;
}

h4{
    font-size: 32px;
    color: #e10086;
    background-color: #90dcff;
    display: inline-block;
    margin: 0;
    padding: 5px;
}

.work h4 {
    position: absolute;
    z-index: 1;
    top: -25px;
}

.work h4.right-aligned{
    right: 0;
}

.right-aligned{
    text-align: right;
}

p{
    line-height: 145%;
}

.scroll{
    color: #2864b1;
    text-align: center;
}

img{
    max-width: 100%;
}

/*distance within my team pics*/
.img-margin{
    margin-bottom: 40px;
}

.tag-image{
    position: relative;
    width: 100%;
}

.work a{
    letter-spacing: 3px;
    color: #49297e;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.extra-gutters{
    padding: 0 60px;
}

footer{
    background-color: #90dcff;
    min-height: 220px;
    background-image: url(../img/socialmedia.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-blend-mode: soft-light;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.social-icon{
    height: 60px;
    margin: 10px 20px;
}

.social-icon-container{
    text-align: center;
}
